---
interface Props {
    items: any;
}

const { items } = Astro.props as Props;
---

<!-- Vocabulary modal -->
{
    items?.map((item: any, index:number) => (
    <div
        id=`vocabulary-modal-${index}`
        tabindex="-1"
        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
    >
        <div class="relative w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div
                    class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600"
                >
                    <div class="flex gap-x-4">
                        <div class="flex flex-col">
                            <p class="text-sm font-inter text-gray-500">{item.mooi_kata} = {item.indo_kata}</p>
                            <h3 id="target-text" class="text-xl text-gray-900 dark:text-white">
                                {item.mooi_lafal}
                            </h3>
                        </div>
                        <svg
                            id="click-to-speak"
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="18"
                            viewBox="0 0 1024 1024"
                            class="text-gray-600 cursor-pointer mt-6"
                        >
                            <path
                                fill="currentColor"
                                d="M574.496 65.904c-10.432-5.552-23.087-4.928-32.911 1.696L220.497 319.712l-106.624.08c-54.512 0-98.88 38.657-98.88 86.4l1.712 211.137c0 47.536 44.352 86.224 98.863 86.224l106.592.065L541.552 956.37a31.977 31.977 0 0 0 17.905 5.472c5.152 0 10.32-1.249 15.008-3.745a31.951 31.951 0 0 0 17.008-28.256V94.16a32.026 32.026 0 0 0-16.977-28.257zm-47.023 803.728L249.874 645.106a31.97 31.97 0 0 0-17.889-5.473l-116.384-.064c-20.544 0-34.88-11.712-34.88-22.464L79.01 405.953c0-10.48 14.336-22.16 34.896-22.16l116.4-.08a32.017 32.017 0 0 0 17.855-5.457l279.312-224v715.376zm320.993-352.126c0-85.008-58.433-156.433-138.913-169.873c-17.712-2.928-33.935 8.864-36.848 26.305c-2.912 17.424 8.88 33.92 26.288 36.832c50.32 8.4 85.473 52.304 85.473 106.753c0 51.84-36.368 96.687-86.496 106.688c-17.344 3.44-28.592 20.288-25.12 37.631c3.024 15.216 16.368 25.745 31.344 25.745a31.34 31.34 0 0 0 6.288-.624c79.952-15.936 137.984-87.216 137.984-169.456zm-42.465-293.601c-16.528-6.16-35.01 2.241-41.153 18.8c-6.193 16.56 2.223 34.992 18.783 41.168c96.528 36.015 161.376 129.903 161.376 233.63c0 103.777-64.848 197.842-161.312 234.002c-16.56 6.223-24.944 24.655-18.751 41.183c4.816 12.88 17.009 20.785 29.969 20.785a31.97 31.97 0 0 0 11.215-2.033c121.344-45.504 202.88-163.632 202.88-293.936s-81.6-248.288-203.007-293.599z"
                            ></path>
                        </svg>
                    </div>
                    <button
                        type="button"
                        id="icon-close-modal"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide=`vocabulary-modal-${index}`
                    >
                        <svg
                            class="w-3 h-3"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 14 14"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-2">
                    <h3
                        class="text-blue-500 font-inter font-semibold dark:text-white"
                    >
                        Contoh Penggunaan
                    </h3>
                    {
                        item.mooi_contoh && item.indo_contoh ? 
                        <div>
                            <h3
                                class="text-gray-900 text-sm font-inter font-semibold dark:text-white"
                            >
                                Kalimat Mooi
                            </h3>
                            <p
                                class="text-lg font-inter leading-relaxed text-gray-500 dark:text-gray-400"
                            >
                                {item.mooi_contoh}
                            </p>
                        </div>
                        <div>
                            <h3
                                class="text-gray-900 text-sm font-inter font-semibold dark:text-white"
                            >
                                Arti Indonesia
                            </h3>
                            <p
                                class="text-lg font-inter leading-relaxed text-gray-500 dark:text-gray-400"
                            >
                                {item.indo_contoh}
                            </p>
                        </div>
                        : <p class="text-base italic font-inter leading-relaxed text-gray-500 dark:text-gray-400">
                            Mohon maaf, contoh penggunaan untuk kosa kata ini belum tersedia.
                            <br>
                            Ingin kontribusi? <a href="#" target="_blank" class="text-blue-600 underline">baca panduan
                                disini.</a>
                        </p>
                    }
                    
                    
                </div>
                <!-- Modal footer -->
                <div
                    class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
                >
                    <button
                        id="button-close-modal"
                        data-modal-hide=`vocabulary-modal-${index}`
                        type="button"
                        class="text-gray-500 font-interhover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10"
                        >Tutup</button
                    >
                </div>
            </div>
        </div>
    </div>
    ))
}

